/* @font-face {
    font-family: 'MaPolice';
    src: url('../fonts/MaPolice.woff2') format('woff2'),
         url('../fonts/MaPolice.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
} */
  